<div *ngIf="!formTodo">
    <div class="spinner-container">
        <div class="spinner" name="crescent">
            <span class="spinner-ball"></span>
        </div>
    </div>
</div>

<form class="form" [formGroup]="formTodo" (ngSubmit)="save()">
    <ion-item>
        <ion-label class="font"><b>Title: </b></ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
        <span class="required" *ngIf="!formTodo.get('name').valid && formTodo.get('name').dirty">
            <b>Name is required</b>
        </span>
    </ion-item>
    <ion-item>
        <ion-label class="font"><b>Description: </b></ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
    </ion-item>
    <ion-button [disabled]="!this.formTodo.valid || disabled" ion-button type="submit">Save</ion-button>
</form>